{% extends "layout.html" %}
{% set active_page = "about" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <!-- Just a bunch of text and links here -->
    <p>MyKampus Radio is an independant online radio, primarily focus on college students. Here, we trying to bring multiple issues to students to encourage as well enable them to discuss issues among themselves.</p>
    <p>MyKampus Radio is a part of Media Cergas PLT and owned by <a href="https://www.mykuasa.org/" target="_blank" style="text-decoration: none;">Persatuan Kuasa</a></p>
    <h1 id="title-about">A Little Bit from Creator</h1>
    <p>Hello there, thanks for coming here. I'm the creator of this website, and just starting out programming with CS50 course from Harvard. If you have any question, feel free to reach out to me.</p>
    <ul class="contact-list">
        <li>
            <a href="mailto:muhdsaifulmashuri@gmail.com" target="_blank" class="contact-item">Email</a>
        </li>
        or
        <li>
            <a href="https://wa.link/flew2t" target="_blank" class="contact-item">WhatsApp</a>
        </li>
    </ul>
    <ul class="social-list">
        <li class="social-container">
            <a href="https://www.instagram.com/saifymatteo" target="_blank" class="social-item"><i class="fab fa-instagram"></i>Instagram</a>
        </li>
        <li class="social-container">
            <a href="https://discord.com/users/428853827282927636" target="_blank" class="social-item"><i class="fab fa-discord"></i>Discord</a>
        </li>
        <li class="social-container">
            <a href="https://www.reddit.com/user/saifymatteo" target="_blank" class="social-item"><i class="fab fa-reddit-alien fa-lg"></i>Reddit</a>
        </li>
        <li class="social-container">
            <a href="https://github.com/saifymatteo/" target="_blank" class="social-item"><i class="fab fa-github-alt"></i>Github</a>
        </li>
    </ul>
{% endblock %} 